@model Portfolio.Models.Project
@{
    ViewBag.Title = "Edit";
}

<div class="page">
    <div id="room">
        <div class="header mb-5">
            <div class="row">
                <div class="col-md-6">
                    <h1><i class="fab fa-adobe"></i>Projects - Editing</h1>
                </div>

                <div class="col-md-6 text-right">
                    <a href="@Url.Action("index", "projects", new { Area = "Manage"})" class="btn btn-primary">Back to Projects page</a>
                </div>
            </div>
        </div>

        <form method="post" action="@Url.Action("edit", "projects", new { Area = "Manage"})" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Model.Id"/>
            <div class="col-md-12 d-flex">
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="room-no"><b>Project Photo:</b></label>
                            <input type="file" class="form-control" id="room-no" name="Photos" multiple>
                        </div>


                        @foreach (var photoo in Model.Photos)
                        {
                            <div class="form-group col-md-3" style="margin-right: 50px;">
                                <img src="~/Upload/@photoo.PhotoName" style="width: 150px; margin-bottom: 5px;" />
                                <a href="@Url.Action("deletePhoto", "Projects", new { id=photoo.Id })" class="btn btn-danger">Sil</a>
                            </div>
                        }

                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="room-no"><b>Name</b></label>
                            <input type="text" class="form-control" id="room-no" name="Name" value="@Model.Name" required>
                        </div>

                        <div class="form-group col-md-5">
                            <label for="room-no"><b>Customer</b></label>
                            <input type="text" class="form-control" id="room-no" name="Customer" value="@Model.Customer" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="#"><b>Category:</b></label>
                            <div class="">
                                <select class="form-control" id="Category" name="CategoryId" required>
                                    <option value="@Model.CategoryId" selected disabled>@Model.Category.Name</option>
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        <option value="@category.Id" required>@category.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label><b>Web</b></label>
                            <input type="text" class="form-control" id="room-no" name="Web" value="@Model.Web" required>
                        </div>

                        <div class="form-group col-md-5">
                            <label><b>Date</b></label>
                            <input type="text" class="form-control" id="room-no" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label><b>Description</b></label>
                            <textarea class="form-control" id="ex" rows="7" name="Description" required>@Model.Description</textarea>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3">
                    @foreach (var item in Model.TechnologyProjects)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label><b>Technology</b></label>
                                <input type="text" class="form-control" id="room-no" name="Technologies" value="@item.Technology" required>
                            </div>
                        </div>
                    }
                </div>

            </div>
         

            <div class="form-row col-md-9">
                <div class="col-md-11 text-right">
                    <button type="submit" class="btn btn-success" style="width: 150px; height: 50px;">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
